body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0d1117;
    color: white;
    padding: 0 0 60px 0;
}

h1 {
    text-align: center;
    margin: 120px auto 60px auto;
    width: 80%;

    @media only screen and (max-width: 768px) {
        margin-top: 70px;
        width: 280px;
    }
}

main {
    display: flex;
    flex-direction: column;
}

.paragraph {
    text-align: justify;
    width: 70%;
    max-width: 1000px;
    margin: 20px auto;
    line-height: 1.6;
    font-size: 20px;

    @media only screen and (max-width: 768px) {
        width: 85%;
    }
}

.paragraph a {
    color: white;
    font-weight: 900;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.paragraph--centered {
    text-align: center;
}

.portfolio-button {
    cursor: pointer;
    margin: 40px auto;
    padding: 20px 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #252525;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out, outline-width 0.2s ease-in-out;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.portfolio-button:hover {
    background: linear-gradient(to right, #ff4d4d, #7b86fe);
    box-shadow: rgba(240, 46, 46, 0.4) 5px 5px,
    rgba(240, 46, 46, 0.3) 10px 10px,
    rgba(240, 46, 46, 0.2) 15px 15px,
    rgba(240, 46, 46, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
    outline: 2px solid black;
    color: white;
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
}
